

blockquote{
  padding: .75em .5em .75em 1em;
  background: white;
  border-left: 0.5em solid #DDD;
  margin-left: 10px!important
}
blockquote::before {
  display: block;
  height: 0;
  color: #999;
}
/* for nested paragraphs in block quotes */
blockquote p {
  display: inline;
  font-size: 14px;
}

text.aviso {
  color: red;
}

text.definicao {
  color: green;
}

code {
  color: #000;
  background: #F8F8F8;
  max-height: 600px;
}

.wy-side-scroll{
  padding-bottom: 100px;
}